<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <form action="{% url 'campingapp:new_comment' pk=post.pk%}" method="post">
                {% csrf_token %}
            {{ comment_form }}
                <button type="submit">제출</button>
            </form>
        

            <!-- Comment with nested comments-->
        {% if post.comment.exists %}
            <div class="d-flex mb-4">
                <!-- Parent comment-->

                <div class="ms-3">


                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                        {% for comment in post.comment.iterator %}
                            <div class="fw-bold">{{ comment.author.username }} - {{ comment.craeted_at }}</div>
                            <p>{{ comment.content | linebreaks }}</p>
                            {% if comment.created_at != comment.updated_at %}
                                <p class="text-muted float-right"><small>Updated: {{ comment.updated_at }}</small>></p>
                            {% endif %}
                            <button class="btn btn-primary"><a href="{% url 'campingapp:update_comment' pk=post.pk %}">수정</a></button>
                            <button class="btn btn-danger"><a href="{% url 'campingapp:delete_comment' pk=post.pk %}">삭제</a></button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>