{% extends 'layout.html' %}

{% block content %}
    <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January {{ post.updated_at }}</div>
                            <!-- Post tags-->

                            {% for tag in post.tags.all %}
                                <span class="badge bg-secondary text-decoration-none text-white">{{ tag }}</span>
                            {% endfor %}


                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.thumbnail.url }} " alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.review }}</p>

                        </section>
                    </article>
                    <!-- Comments section-->
                    {% include 'includes/comments.html' %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% include 'includes/search_widget.html' %}
                    <!-- Categories widget-->
                    {% include 'includes/categories_widget.html' %}
                </div>
            </div>
        </div>
{% endblock %}